# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.spec
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/

# App runtime files
settings.json
*.epub
*.epub.part
